.introduction {
    max-width: 100%;
    min-height: 100%;
    display: flex;
    background-color: #313780;
    flex-wrap: wrap;
}

.outline {
    flex-direction: column;
    flex-basis: 400px;
    flex-grow: 1;
}

.outline-header {
    color: whitesmoke;
    text-align: center;
}

.outline-items {
    display: flex;
    height: auto;
    flex-direction: column;
    gap: 2em;
}

.outline-item {
    font-size: 5.5vmin !important;
    transition: padding 300ms;
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.outline-item:hover {
    opacity: 0.5;
    padding: 0.5em 0 0.5em 0;
}

.avatar-container {
    flex-basis: 400px;
    flex-grow: 1;
    padding: 1em 1em 1em 1em;    
    flex-direction: column;
    gap: 1em;
}

.avatar {
    width: 50% !important; 
    height: auto !important;
}
.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(127% + 1.3px);
    height: 123px;
}

.wave .shape-fill {
    fill: #434A9C;
}


