.portfolio {
    width: 100%;
    background-color: #090a1b;
}

.text {
    color: whitesmoke;
    text-align: center;
    font-size: 5vmin;
}

.header {
    width: 100%;
    height: auto;
    padding-top: 1em;
    padding-bottom: 1em;
}

.project-card {
    text-align: center;
    flex-basis: 200px;
}

.made-with{
    flex-direction: column;
}