.portfolio {
    max-width: 100%;
    min-height: 100%;
    
    background-color: #F79862;
    gap: 1em;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.text {
    color: whitesmoke;
    text-align: center;
}

.header {
    width: 100%;
    
}

.project-showcase{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.project-box {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin-bottom: 1em;
    justify-content: center;
}

.project-card {
    position: relative;
    text-align: center;
    flex-basis: 400px;
}

.project-card:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.project-info {
    border-radius: 20px;
    flex-direction: column;
    gap: 1em;
    background-color: #66b2b2;
    padding: 1em 0 1em 0;
}

.project-description-container {
    width: 70%;
    min-height: 15vh;
    display: flex;
    flex-direction: column;
    
}

.project-description-container .description {
    font-size: 2em !important;
    font-weight: 300;
    text-align: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.project-description-container .role {
    font-weight: 300;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
}

.carousel-box {
    display: table-cell;
    vertical-align: middle;
}

.carousel-inner {
    display: flex;
}

.carousel-button {
    min-width: 2rem;
    min-height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    border-radius: 2px;


    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}



.carousel-box img {
    object-fit: cover;
    width: 100%;
    max-height: 70vh;
}


.made-with{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.external-link {
    display: table-cell;
    vertical-align: middle;
}

.github-icon {
    width: 5em;
}

.click-to-view {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #66b2b2;
    border-radius: 50%;

    padding: 0.5em 0.5em 0.5em 0.5em;
    box-shadow: 4px 4px #000000;
    
}


@media screen and (max-width: 665px) {
    .portfolio {
        height: auto;
    }

    .project-description-container {
        width: 100%
    }
}

