.portfolio {
    max-width: 100%;
    background-color: #090a1b;
    padding: 1em 1em 1em 1em;
}

.text {
    color: whitesmoke;
    text-align: center;
    font-size: 5vmin;
}

.header {
    width: 100%;
    height: auto;
    margin-bottom: 1em;
}

.project-card {
    text-align: center;
    flex-basis: 400px;
    background-color: #090a1b;
}

.project-info {
    flex-direction: column;
    gap: 1em;
    background-color: #090a1b;
    padding: 1em 0 1em 0;
}

.carousel-box {
    display: table-cell;
    vertical-align: middle;
}

.carousel-inner {
    display: flex;
}

.carousel-button {
    min-width: 2rem;
    min-height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}



.carousel-box img {
    object-fit: contain;
    width: 100%;
    max-height: 70vh;
}


.made-with{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.external-link {
    display: table-cell;
    vertical-align: middle;
}

.github-icon {
    width: 5em;
}


