.about {
    max-width: 100%;
    min-height: 100%;
    background-color: #0c0d1d;
    padding: 1em 1em 1em 1em;
    overflow: hidden;
    
}

.text {
    color: whitesmoke;
    text-align: center;
    font-size: 5vmin;
}

.header {
    display: flex;
    max-width: 100%;
    margin-bottom: 1em;
    flex-wrap: wrap;
    justify-content: center;
}


.headerText {
    display: flex;
    justify-self: center;
    align-items: center;
    flex-basis: 760px;
    color: whitesmoke;
    font-size: 5em;
    flex-grow: 8;
    margin: 1rem 1rem 1rem 1rem;
}

.headerPictureContainer {
    flex-basis: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 5em;
}


.headerPicture {
    width: 100%;
    border-radius: 15px;
}

.aboutTextContainer {
    max-width: 100%;
    display: flex;
    padding: 1em 1em 1em 1em;
    gap: 1em;
    flex-wrap: wrap;
}

.aboutText {
    color: whitesmoke;
    text-align: center;
    word-wrap: break-word;
}

.chip  {
    background-color: whitesmoke !important;
    margin: 1em 0 1em 0;
    font-weight: 800;
    
    padding: 0.5em 0 0.5em 0 !important;
    font-size: 1.2em !important;
    height: auto !important;
}


.divider {
    background-color: whitesmoke;
}

.techContainer {
    flex-basis: 400px;
    flex-grow: 1;
}


.star {
    color: rgb(253, 253, 96);
}

.starContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 900px) {
    .aboutTextContainer {
        flex-direction: column;
        gap: 0;
    }
}