.about {
    max-width: 100%;
    min-height: 100%;
    background-color: #242961;
    padding: 1em 1em 1em 1em;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-evenly;
}

.header {
    display: flex;
    max-width: 100%;
    margin-bottom: 1em;
    flex-wrap: wrap;
    justify-content: center;
}

.header-picture-container {
    flex-basis: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 5em;
}

.header-text {
    display: flex;
    justify-self: center;
    align-items: center;
    flex-basis: 760px;
    color: whitesmoke;
    font-size: 5em;
    flex-grow: 8;
    margin: 1rem 1rem 1rem 1rem;
}

.header-picture {
    width: 100%;
    border-radius: 15px;
}

.experience {
    flex-direction: row;
    max-width: 100%;
    width: 100%;
    display: flex;
    padding: 1em 1em 1em 1em;
    gap: 1em;
    flex-wrap: wrap;
}

.technologies-header {
    color: whitesmoke;
    text-align: center;
    word-wrap: break-word;
}

.tech-container {
    flex-basis: 400px;
    flex-grow: 1;
}


.chip {
    background-color: whitesmoke;
    margin: 1em 0 1em 0;
    font-weight: 800;
    
    padding: 0.5em 0 0.5em 0;
    font-size: 1.2em;
    height: auto;
}

.divider {
    background-color: whitesmoke;
}

.star {
    color: rgb(253, 253, 96);
}

@media screen and (max-width: 900px) {
    .experience {
        flex-direction: column;
        gap: 0;
    }
}


.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    opacity: 1;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(200% + 1.3px);
    height: 79px;
    transform: rotateY(180deg);
}

.wave .shape-fill {
    fill: #313780;
}