.introduction {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    background-color: #101120;
    flex-wrap: wrap;
}

.outline {
    flex-direction: column;
    flex-basis: 400px;
    flex-grow: 1;
}

.outline-header {
    color: whitesmoke;
    text-align: center;
}

.outline-items {
    display: flex;
    height: auto;
    flex-direction: column;
    gap: 2em;
}

.outline-item {
    font-size: 5.5vmin !important;
    transition: padding 300ms;
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.outline-item:hover {
    opacity: 0.5;
}

.avatar-container {
    flex-basis: 400px;
    flex-grow: 1;
    padding: 1em 1em 1em 1em;    
    flex-direction: column;
}

.avatar {
    width: 50% !important; 
    height: auto !important;
}

.quote {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
    background-color: gray;
    border-radius: 1em;
    text-align: center;
    font-size: 3vmin;
    padding: 1em 1em 1em 1em;
    margin: 1em 0 1em 0;
  }
  