.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.white-text {
    color: whitesmoke;
}

.quote {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
    background-color: gray;
    border-radius: 1em;
    text-align: center;
    padding: 1em 1em 1em 1em;
}
  