.non-tech {
    max-width: 100%;
    
    min-height: 100%;
    background-color: #20246d;
    padding: 1em 1em 1em 1em;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1em;
}

.header {
    height: 100%;
    text-align: center;
}

.header-text {
    background-color: grey;
    border-radius: 10px;
    padding: 1em 1em 1em 1em;
    font-size: 2vmax !important;
    font-weight: 400;
    text-align: justify;
}

.images {
    max-width: 100%;
    padding: 0 1em 0 1em;
    flex-wrap: wrap;
    gap: 1em;
}

.image {
    flex-basis: 400px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.image:hover {
    opacity: 0.5;
}

.caption {
    text-align: center;
}

.image-container {
    position: relative;
    width: 100%;
}

.image-container .button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.button a {
    text-decoration: none;
}